
<!-- <div class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h1 class="logo-text"><span>AWa</span>Inspires</h1>
            <p>
                sdkshdkshkdshkdskdhskdhskhdsklhdskhdkshdkshdskdshdskhdkshkdsksdcdleujo,kezlù
                dsldlsùdsldsùdsdùsldsùldùsldùsldùsldùs
            </p>
        
        <div class="contact">
            <span><i class="fa fa-phone"></i>&nbsp; Lot III R 245, Anosy Tananarive 101, Madagascar</span>
            <span><i class="fa fa-phone"></i>&nbsp; +261 22 123 45</span>
            <span><i class="fa fa-envelope"></i>&nbsp; instatgmail.com</span>
            <span>SiteWeb: &nbsp; www.instat.mg</span>
        </div>
        <div class="social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>

        </div>
    </div>
        <div class="footer-section links">
            <h2> Quick Links</h2>
            <br>
            <ul>
                <a href=""><li>Evennts</li></a>
                <a href=""><li>Team</li></a>
                <a href=""><li>Mentores</li></a>
                <a href=""><li>Gallery</li></a>
                <a href=""><li>Terms and Condition</li></a>
            </ul>
        </div> 
</div>

    <div class="footer-bottom">
        &copy; Instat.com | Designed by ..........
    </div>    
</div> -->

<footer style="background-color: rgb(13, 87, 90); text-align: center; padding: 20px; position: fixed; bottom: 0px; width: 100%; color: #fff;">
    <div class="col-md-12">
        <p>
            &copy; Copyrights <script>document.write(new Date().getFullYear());</script> <strong>Organisation INSTAT</strong>. All Rights Reserved
        </p>

    </div>
</footer>
