<!DOCTYPE html>
<html lang="en">
<head>
  <title>ORGANISATION INSTAT </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="/bootstrap/css/footer.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/css/sweetalert2.min.css">
  <link rel="stylesheet" href="/bootstrap/css/style.css">
  <link href="/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="/bootstrap/css/jquery.dataTables.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/bootstrap/css/Chart.min.css">
  <script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/bootstrap/js/jquery.dataTables.min.js"></script>
  <script src="/bootstrap/js/canvas-to-blob.min.js"></script>
  <script src="/bootstrap/js/FileSaver.min.js"></script>
  <script src="/bootstrap/js/Chart.min.js"></script>
  <script src="/bootstrap/js/sweetalert.min.js"></script>
</head>
<body>


    <nav class="navbar navbar-default" style="background: #4ECDC4; ">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"> <img src="/images/instat.png" style="width: 10rem; position: relative; top: -50px;"/> </a>
          </div>
          <ul class="nav navbar-nav">
            <li class="dropdown"><a href="#" style="color: white;" class="dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-eur"></i> Fichier Etablissements</a>
              <ul class="dropdown-menu">

                <li> <a href="fich_etab"> Etablissement </a></li>
                <li><a href="Res_Etab">resultat</a></li>
              </ul>
            </li>
            <li><a href="ipc" style="color: white;"  ><i class="fa fa-eur"></i> Indice des Prix a la consommation</a></li>
            <li class="dropdown"><a href="ParcAuto" style="color: white;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-truck"></i> Parc Automobile</a>
              <ul class="dropdown-menu">

                <li> <a href="marque"> Marque </a></li>
                <li><a href="genre">Genre</a></li>
                <li><a href="proprietaire">Proprietaire</a></li> 
                <li><a href="vehicule">Vehicule</a></li>
                <li><a href="graphique">Graphique</a>
                <li><a href="resultat">resultat</a></li>
              </ul>
            
            </li>
            <li class="dropdown"><a href="EtatCivile" style="color: white;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bookmark"></i> Etat Civil</a>
              <ul class="dropdown-menu">
                <li><a href="naissance"> Naissance </a></li>
                <li><a href="deces"> Décès </a></li>
                <li><a href="statistique"> Statitstique </a></li>
                <li><a href="resultat_etat_civil"> resultat </a></li>
                <li><a href="resultat_deces">resultat_deces</a></li>
                <li><a href="graphique_naiss">Graphique_Naissance</a></li>
                <li><a href="graphique_deces">Graphique_deces</a></li>
              </ul>
            </li>


            <!-- <li class="dropdown"><a href="#" style="color: white;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bookmark"></i>Statitstique</a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-submenu"><a href="#"> Naissance </a>
                </li>
                <li><a href="deces"> Décès </a></li>
              </ul>
            </li> -->


            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">More options</a>
                <ul class="dropdown-menu">
                  <li><a href="#">dsdsd</a></li>
                  <li><a href="#">dsdsd</a></li>
                </ul>
              </li>
            </ul>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="logout" style="color: white;"> <i class="fa fa-power-off"></i> Deconnection</a></li>
          </ul>
        </div>
      </nav>

     






